<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson05.dao.WeatherDAO">
	<select id="selectWeatherList" resultType="com.quiz.lesson05.model.Weather">
		SELECT 
			`id`
			, `date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		FROM
			`weatherHistory`
	</select> 
	
	<insert id="insertWeather" parameterType="map">
		INSERT INTO `weatherHistory`
		(
			`date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{date}
			, #{weather}
			, #{temperatures}
			, #{precipitation}
			, #{microDust}
			, #{windSpeed}
			, NOW()
			, NOW()
		)
	</insert>
 </mapper>