
header {height: 100px;}
header h1 a {color: #000;}
header h1 a:hover {text-decoration: none; color: #000;}
nav {height: 50px; background-color: #E3871F;}
.nav-link {color: #fff; font-weight: bold; font-size: 17px;}
.nav-link:hover {color: #333;}
/* .content {padding: 30px 0 30px 0;} */
.img-box {height: 500px; overflow: hidden;}

.title_area {height: 100px;}
.reservation-form {margin: auto;}

.bottom-section {height: 300px;}
.box-1 {background-color: #B1520F; color: #fff;}
.box-2 {background-color: #CF6317; color: #fff;}

.box-1 a {color: #fff;}
.box-1 a:hover {text-decoration: none;}
.txt-box {width: 200px; margin: auto; padding-top: 60px;}
.txt-1 {font-size: 30px;}
.txt-2 {font-size: 40px;}
.box-2 button {margin-left: 295px;}

footer {height: 100px;}